#pice-pizza {
    font-family: fantasy;
    font-size: 35px;
    font-weight: normal;
    color: rgb(153, 52, 5);
}
.logo {
    background-color: chocolate;
}
.navi {
    float: right;
}
li {
    display: inline;
    margin-right: 20px;
    font-size: 40px;
    font-family: fantasy;
    text-decoration: chocolate;
    
}
.nav-items {
    text-decoration: rgb(153, 52, 5);
}
figure img {
    height: 260px;
    width: 260px;

}
#menu {
    font-family: fantasy;
}

.menu-overlay {
    height: inherit;
    width: inherit;
    background-color: chocolate;
    background-blend-mode: soft-light;

}
.checkout {
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: rgba(0, 0, 0, 0.8);
}
.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}
#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: fantasy;
}
#order {
    text-decoration: rgb(153, 52, 5)
    font-family: fantasy;
}
figcaption {
    text-decoration: rgb(153, 52, 5);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color:rgb(153, 52, 5)
}

#menu {
    padding-top: 20px;
}

#order-pizza {
    background-image: 
}

#list li {
    font-size: 24px;
    font-family: fantasy;
}

.order-summary h1, .summary, .contact {
    color: rgb(59, 34, 5);
    font-family: fantasy;
    margin-top: 30px;
}
.cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.go {
    border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color:rgba(0, 0, 0, 0.8)
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ffbf00;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.deliver, .delivernot {
    margin: 10px;
}

.footl {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}
#container { 
    width:250px; height:50px; border:1px solid #000; 
}
